<p class="text-center mt-5">Hogareñas - 2022 - 
    <span>
        <img src="/img/wsp.png" style="width:20px ;height:auto" alt="">
    </span>
    <span>
        <img src="/img/insta.png" style="width:20px ;height:auto" alt="">
    </span>
</p>