<div class="container-md  text-center mx-auto"></div>
    <div class="card mx-auto text-center shadow mb-3" style="width: 50%;">
        <div class="fon card-body rounded border border-danger border-2">
            
            <h4 class="card-title  fon3 text-center mt-2 bold " name="productoNombre"><u>{{this.productoNombre}}</u></h4>
            <img class="mx-auto border-10 shadow rounded border border-dark border-3 mb-1 img-fluid" src="{{this.productoImagen}}" width="250" height="250" alt="">
            <p class="card-text text-center" name="productoDescripcion">{{this.productoDescripcion}}</p>
            <a class="btn btn-primary mx-auto" name="productoPrecio">{{this.productoPrecio}}</a>
        </div>
    </div>
</div>