<div class=" text-center mx-auto"></div>
    <div class="card mx-auto text-center shadow mb-3" style="width: 50%;">
        <strong class="text-center"><h3><u>{{this.promoDescripcion}}</u></h3></strong>
        <img class="mx-auto border-10 shadow  mt-2 img-fluid" src="{{this.promoImagen}}" width="250" height="250"
            alt="">
        <div class="card-body">
            <h4 class="card-title text-center bold " name="promoNombre">{{this.promoNombre}}</h4>
            <a class="btn  mt-2 btn-primary mx-auto" name="productoPrecio">{{this.promoPrecio}}</a>
        </div>
    </div>
</div>