<div class="container text-center mt-8">
<div class="card shadow w-75 mt-8 mx-auto">
    <h1 class="mt-5 mb-5">Nuestras Redes:</h1>
    <h2 class="mb-5 ">WhatsApp: 2613621313 / 2612086110</h2>
    <h2  class="">Instagram: hogarenas.unadeliciacasera</h2>
    <a class= "mb-5"href="https://www.instagram.com/hogarenas.unadeliciacasera">Aquí</a>
    <h2 class="mt-5 mb-5">QR:</h2>
</div>
</div>