<div class="container text-center mt-8 mb-4">
    <div class="card shadow w-75 mt-8 mx-auto">
        <h1 class="mt-5 mb-5"><u> Nos encuentran en:</u></h1>
        <h2 class="mb-5  ">Dirección:
            <span>
                <img class="img-fluid" src="/img/map.png">
            </span> <u>Gutiérrez</u> / <u>Maipú</u>
        </h2>
        <h2 class="mb-5 ">WhatsApp:
            <span>
                <img class="img-fluid" src="/img/wsp.png">
            </span> <u>2613621313</u> / <u>2612086110</u></h2>
        <h2  class="mb-5">Instagram: 
            <span>
                <img class="img-fluid" src="/img/insta.png">
            </span>
            <span>
                <a class= "mb-2" href="https://www.instagram.com/hogarenas.unadeliciacasera" target="_blank">hogarenas.unadeliciacasera</a>
            </span>
        </h2>
        <h2 class="mb-3">QR:</h2>
        <img style="width:150px;heigth:160px" class= "img-fluid mx-auto mb-3"src="/img/hogarenasQR300px.png">
    </div>
</div>