
<div class="text-center mb-3">
    <img src="/img/logo.jpeg" class="img md-auto rounded border border-1 shadow mb-2 img-fluid" width="250" height="250"
    alt="">
</div>


<h1 class="text-center mb-4 fon4"><u>Nuestros Productos:</u></h1>

 {{#each productos }}
        {{>producto_card}}
{{/each}}

<div class="mx-auto text-center mt-5 mb-5">
   

    <div class="text-center mb-2">
        <a class="mt-6" href="/">Volver al Inicio</a>
    </div>

</div>