
<div class="mx-auto text-center mt-5 mb-5">
    {{#each promos}}
        {{>promo_card}}
    {{/each}}
    <div class= "text-center mb-2">
        <a class="mt-6" href="/">Volver al Inicio</a>
    </div>
    
</div>


