<h1 class="text-center ">Nuestras Promos:</h1>

{{#each promos}}
        {{>promo_card}}
    {{/each}}


<div class= "text-center mb-2">
        <a class="mt-6" href="/">Volver al Inicio</a>
</div>
    


