<h2 class="text-center mt-4 fon4">Nuestras Promos:</h2>

{{#each promos}}
        {{>promo_card}}
    {{/each}}


<div class= "text-center mb-2">
        <a class="mt-6" href="/">Volver al Inicio</a>
</div>
    


