body {
    font-family: 'Mouse Memoirs', sans-serif;
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 0.36376269257703087) 2%, rgba(255, 246, 209, 0.8035386029411764) 98%);
}

.fon{
    background: #f9f5e3;
}

.fon2{
    background-color: transparent;
}
.fon3{
    font-family: 'Shrikhand', cursive;
    color: rgb(234, 40, 40)
}
.fon4{
    font-family: 'Shrikhand', cursive;
        color: black
}